@font-face {
  font-family: "norse";
  src: url(./resources/norse-bold-webfont.woff2) format("woff2"),
    url(./resources/norse-bold-webfont.woff) format("woff");
}

body {
  display: flex;
}

.left {
  background-image: url(./resources/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  height: 100vh;
  flex: 1 2 33vw;
  position: relative;
}

.right {
  flex: 1 1 67vw;
}

.background {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 80px;
  font-family: "norse", 'Times New Roman', Times, serif;
  margin-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background>img {
  height: 100px;
  width: auto;
}

.credit {
  margin-bottom: 0;
  margin-top: auto;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.credit,
.credit>a {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 10px;
}